:root {
  --primary-color: #083748;
  --secondary-color: #083e52;
  --background-color: #ffffff; /* Light mode background */
  --background-color-transparent: rgba(255, 255, 255, 0.5);
  //--background-color-transparent: rgba(130, 130, 132, 0.2);
  --text-color: #000000; /* Light mode text color */
  --optional-color: #5a2778;
  --input-bg-color: #f0f0f0;
  --input-border-color: #ccc;
  --input-focus-color: #095874;
  --button-bg-color: #b685db;
  --team-bg-color: rgba(130, 130, 132, 0.15);
  --secondary-text-color: #2d2d2d;
  --muted-text-color: #575760;
  --border-color: rgba(130, 130, 132, 0.2);
}

body.dark-theme {
  --primary-color: #2b2b2b;
  --secondary-color: #1c1c1c;
  --background-color: #282828; /* Dark mode background */
  --background-color-transparent: rgba(40, 40, 40, 0.65);
  --text-color: #e1e0e0; /* Dark mode text color */
  --optional-color: #7a3d99;
  --input-bg-color: #282828d4;
  --input-border-color: #444444;
  --input-focus-color: #095874;
  --button-bg-color: #8f52bc;
  --team-bg-color: rgba(50, 50, 50, 0.5);
  --secondary-text-color: #fafafa;
  --muted-text-color: #a1a1aa;
  --border-color: rgba(255, 255, 255, 0.2);
}
