@use "../../styles/main.scss" as *;

.feature-cards-section {
  min-height: 50vh;
  padding: 4rem 2rem;
  text-align: center;
  margin-top: 7rem;

  .feature-section-title {
    font-size: $h2-font-size;
    margin-bottom: 4rem;
  }
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-card {
  min-width: 250px;
  background: var(--background-color);
  border-radius: 15px;
  padding: 1.5rem;
  width: 280px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: $box-shadow-all-sides;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;

    &::before {
      left: 0;
      animation: borderSlide 0.9s ease-in-out forwards;
    }
  }
  .description {
    font-size: $paragraph-font-size;
    color: var(--muted-text-color);
  }
  @keyframes borderSlide {
    0% {
      left: -100%;
    }
    50% {
      left: 10%;
    }
  }

  // Animated Border
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      transparent,
      #8f52bc,
      #095874,
      transparent
    );
    z-index: 0;
    transition: transform 0.3s ease-in-out;
  }

  &::after {
    border: $border-color;
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--background-color);
    border-radius: 10px;
    z-index: 1;
  }

  .feature-icon {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $coolBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(90, 39, 120, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 2;
  }

  p {
    font-size: 1rem;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .feature-cards {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    width: 90%;
  }
}
