@use "../lib-styles/radius.scss";

.image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  //margin: auto;
}

.image {
  display: block;
  object-fit: cover;
  border-radius: inherit;
  min-height: 100%;
  min-width: 100%;
}

.zoomedWrapper:hover {
  cursor: zoom-in;
}

.zoomedImage {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.radius-none {
  border-radius: var(--border-radius-none);
}

.radius-sm {
  border-radius: var(--border-radius-sm);
}

.radius-md {
  border-radius: var(--border-radius-md);
}

.radius-lg {
  border-radius: var(--border-radius-lg);
}

.radius-full {
  border-radius: var(--border-radius-full);
}
