@use "../lib-styles/borders.scss";
@use "../lib-styles/colors.scss";
@use "../lib-styles/paddings.scss";
@use "../lib-styles/radius.scss";
@use "../lib-styles/component-sizes.scss";
@use "../lib-styles/font-sizes.scss";

// Base styles for the switch container
.switchContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

// Label styling
.switchLabel {
  color: inherit;
  user-select: none;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--default-base);
}

// Slider styles
.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 50%;
  height: 100%;
  left: 2px;
  background-color: var(--default-light);
}

// Size classes
.size-sm {
  width: var(--switch-track-width-sm);
  height: var(--switch-track-height-sm);
  .slider {
    width: var(--switch-thumb-size-sm);
    height: var(--switch-thumb-size-sm);
    left: 2px;

    &.checked {
      left: calc(100% - var(--switch-thumb-size-sm) - 2px);
    }
  }
}

.size-md {
  width: var(--switch-track-width-md);
  height: var(--switch-track-height-md);
  .slider {
    width: var(--switch-thumb-size-md);
    height: var(--switch-thumb-size-md);
    left: 2px;

    &.checked {
      left: calc(100% - var(--switch-thumb-size-md) - 2px);
    }
  }
}

.size-lg {
  width: var(--switch-track-width-lg);
  height: var(--switch-track-height-lg);
  .slider {
    width: var(--switch-thumb-size-lg);
    height: var(--switch-thumb-size-lg);
    left: 2px;

    &.checked {
      left: calc(100% - var(--switch-thumb-size-lg) - 2px);
    }
  }
}

.size-xl {
  width: var(--switch-track-width-xl);
  height: var(--switch-track-height-xl);
  .slider {
    width: var(--switch-thumb-size-xl);
    height: var(--switch-thumb-size-xl);
    left: 2px;

    &.checked {
      left: calc(100% - var(--switch-thumb-size-xl) - 2px);
    }
  }
}

// Radius variants
.radius-none {
  border-radius: var(--border-radius-none);
}

.radius-sm {
  border-radius: var(--border-radius-md);
}

.radius-lg {
  border-radius: var(--border-radius-lg);
}

/* Color variants */
.color-default {
  &.checked {
    background-color: var(--default-dark-lighter);
  }
}

.color-primary {
  &.checked {
    background-color: var(--primary-base);
  }
}

.color-secondary {
  &.checked {
    background-color: var(--secondary-base);
  }
}

.color-success {
  &.checked {
    background-color: var(--success-base);
  }
}

.color-warning {
  &.checked {
    background-color: var(--warning-base);
  }
}

.color-danger {
  &.checked {
    background-color: var(--danger-base);
  }
}
